@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}
body,html {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

ul{
    padding: 0 ;
    margin: 0;
}

a {
    text-decoration: none !important;
}


/* Global Style */

.Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 59px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 16px;
}
.Btn-small{
    width: 156px;
} 
.Btn-big{
    width: 199px;
}   
.Btn-bg-transparent{
    background: transparent;
}
.Btn-border-black{
    border: 1px solid #000000;
}
.Btn-bg-orange{
    background: #F15C05;
}
.Btn-bg-black{
    background: #000000;
}
.Btn-white{
    color: white;
}
.Btn-black{
    color: #010101;
}
.Btn-bg-blue{
    background: #3751FF;
}
.Btn-box-shadow-blue{
    box-shadow: 0px 4.90432px 49px rgba(55, 81, 255, 0.54);
}

.sectionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}
.sectionTitle h3{
    font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* or 133% */

text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;
width: 649px;
position: relative;
}
.sectionTitle.customWidth1 h3{
    width: 930px;
}
.sectionTitle.whiteSectionTitle h3,
.sectionTitle.whiteSectionTitle p{
    color: white;
}
.sectionTitle h3 span{
    position: relative;
    padding-bottom: 5px;
}
.sectionTitle h3 span svg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sectionTitle p{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

text-align: center;

/* Text/Body Text */

color: #666666;
margin-top: 16px;
width: 718px;
}


.sectionTitle .shortSectionInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 224px;
height: 49px;
border-radius: 56px;
margin-bottom: 20px;
}
.sectionTitle .shortSectionInfo p{
    font-style: normal;
font-weight: 600;
font-size: 25.2px;
line-height: 38px;
/* identical to box height */

text-align: center;
margin: 0;
}
.sectionTitle p span{
    color: #F15C05;
}
.sectionTitle .shortSectionInfo-white{
    color: #FFFFFF;
    border: 2.8px solid #FFFFFF;
}
.sectionTitle .shortSectionInfo-white p{
    color: white;
}
.sectionTitle .shortSectionInfo-orange{
    color: #F15C05;
    border: 2.8px solid #F15C05;
}
.sectionTitle .shortSectionInfo-orange p{
    color: #F15C05;

}









/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* header */
header{
    height: 110px;
    border-bottom: 3px solid #F15C05;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
}

header .DekstopHeader .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .DekstopHeader .content .logo img{
    height: 50px;
    width: 200px;
}
header .DekstopHeader .content .navList ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .DekstopHeader .content .navList ul li{
    margin: 0px 13px;
}
header .DekstopHeader .content .navList ul li a{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    transition: all 300ms;
}
header .DekstopHeader .content .navList ul li a:hover{
    color: #F15C05;
}
header .DekstopHeader .content .navList ul li a i{
    margin-right: 5px;
}




header .mobileNavCol{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
header .mobileNav img{
    width: 200px;
    height: auto;
}
header .mobileNav button{
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
}

/* mobileOpenMenu */
.mobileOpenMenu{
    position: fixed;
    top: 0px;
    left: 0%;
    transition: all 600ms;
    width: 0%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    overflow: hidden;
}
.mobileOpenMenu .bg-close{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: 1;

}
.mobileOpenMenu .content{
    background: white;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 100;
}
.mobileOpenMenu.active{
    width: 100%;
}
.mobileOpenMenu .btnDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
.mobileOpenMenu  .closeMobileNavBtn{
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;
}
.mobileOpenMenu .content .navList{
    margin-top: 20px;
    width: 100%;
}
.mobileOpenMenu .content .navList ul{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.mobileOpenMenu .content .navList ul li{
    width: 100%;
    padding: 5px 25px;
    border-bottom: 1px solid #DDDDDD;
}
.mobileOpenMenu .content .navList ul li a{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    transition: all 300ms;
}
.mobileOpenMenu .content .navList ul li a:hover{
    color: #F15C05;
}
.mobileOpenMenu .content .navList ul li a i{
    margin-right: 5px;
}
.mobileOpenMenu .content .navButtons{
    flex-direction: column;
    width: 100%;
    padding: 0 20px ;
}
.mobileOpenMenu .content .navButtons button{
    height: 50px;
    width: 100%;
    border-radius: 0;
    margin: 5px 0;
}
/* banner */
#banner{
    padding: 50px 0;
}
#banner .textsCol{
    display: flex;
    align-items: center;
    justify-content: center ;
    position: relative;
}
#banner .textsCol .icon1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
#banner .textsCol .icon2{
    position: absolute;
    bottom: -25%;
    left: 16%;
}
#banner .textsContent{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
    z-index: 100;
}
#banner .textsContent h2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 140%;
color: #000000;
text-transform: capitalize;
}
#banner .textsContent h2 span{
    position: relative;
}
#banner .textsContent h2 span svg{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#banner .textsContent p{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 168.4%;
color: #010101;

opacity: 0.6;
margin-top: 25px;
margin-bottom: 40px;
}
#banner .textsContent p span{
    color: #F15C05;
    opacity: 1;
}
#banner .textsContent .buttons{
    display: flex;
    align-items: center;
}
#banner .textsContent .buttons a{
    margin-left: 40px;
    text-decoration-line: underline !important;

color: #010101;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
}



#banner .imageCol{
    display: flex;
    align-items: center;
    justify-content: center ;
}
#banner .imageContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#banner .imageContent img{
    width: 100%;
    height: 100%;
}




#banner .loginCol .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(135, 146, 161, 0.16), 0px 6px 41px rgba(135, 146, 161, 0.11);
border-radius: 18px;
margin-top: 187px;
padding: 25px 100px;
}
#banner .loginCol .content .item h4{
    font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */

letter-spacing: -0.092124px;

color: #666666;
}
#banner .loginCol .content .item{
    width: 30%;
    margin: 0 5px;
}
#banner .loginCol .content button{
    margin: 0 5px;
}
#banner .loginCol .content .item .inputDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
height: 59px;
border: 2px solid #DDDDDD;
box-shadow: 0px 6.95337px 34.7668px rgba(0, 0, 0, 0.05);
border-radius: 8px;
padding: 20px;
margin-top: 10px;
margin-bottom: 10px;
}
#banner .loginCol .content .item .inputDiv input{
    width: 100%;
    height: 100%;
    margin-left: 10px;
border-radius: 8px;
padding: 10px;

}
#banner .loginCol .content .item .inputDiv i{
    color: #F05A05;
}

#banner .loginCol .content .item .rememberPass{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#banner .loginCol .content .item .rememberPass p{
    margin-left: 10px;
    font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */

letter-spacing: -0.092124px;

color: #666666;
}

#banner .loginCol .content .item a{
    font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */

letter-spacing: -0.092124px;
text-decoration-line: underline !important  ;

color: #666666;
}
#banner .loginCol .content .buttons{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}




/* shortInfos */

#shortInfos{
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 20.49%, #EFEFEF 120.49%);
    transform: rotate(-180deg);
    padding: 80px 0;
}
#shortInfos .container{
    transform: rotate(180deg);
    background-image: url(../img/Pattern\ Image\ and\ Dot\ Color.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 0;
}
#shortInfos .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#shortInfos .infosContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(135, 146, 161, 0.16), 0px 6px 41px rgba(135, 146, 161, 0.11);
border-radius: 8.8421px;
padding: 35px 43px;
}

#shortInfos .infosContent .item h4{
    font-style: normal;
font-weight: 700;
font-size: 53.0526px;
line-height: 71px;
/* identical to box height, or 133% */

text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #3751FF;
}
#shortInfos .infosContent .item p{
    font-style: normal;
font-weight: 500;
font-size: 16.5789px;
line-height: 150%;
/* identical to box height, or 25px */

text-align: center;

/* Text/Body Text */

color: #666666;
}
#shortInfos  button{
    margin-top: 60px;
}




/* ourDifference */
#ourDifference{
    background: #F15C05;
    padding: 76px 10px;
    background-image: url(../img/Group\ 1907.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ourDifference .infoCol .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#ourDifference .infoCol .content .infoCard{
    width: 28%;
    background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(211, 0, 0, 0.1);
border-radius: 20px;
padding: 30px;
margin: 20px;
}
#ourDifference .infoCol .content .infoCard .icon{
    margin-bottom: 12px;
}
#ourDifference .infoCol .content .infoCard .icon i{
    font-size: 50px;
    color: #F15C05;
}

#ourDifference .infoCol .content .infoCard h4{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;
margin-bottom: 10px;
}
#ourDifference .infoCol .content .infoCard p{
    font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;

color: #858585;
}














/* services */

#services{
    padding: 100px 0;
}
#services .cardsContainer{
    background: #3751FF;
    position: relative;
    height: 415px;
    margin-top: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#services .cardsContainer .container{
    position: relative;
}
#services .cardsContent{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
#services .cardsColMain{
    position: absolute;
    top: -35%;
    left: 0;
}
#services .cardsContent .serviceCard{
    border-radius: 9.73568px;
    padding: 29px;
    margin: 0 10px;
    width: 19%;
    transform: scale(1);
    transition: all 300ms;
}
#services .cardsContent .serviceCard:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 26px 14px rgba(0, 0, 0, 0.31);
}
#services .cardsContent .serviceCard.facebook{
    background: #0075DF;
}
#services .cardsContent .serviceCard.instagram{
    background: linear-gradient(243.08deg, #FDC26A 7.21%, #ED83C9 76.81%), #B20090;
}
#services .cardsContent .serviceCard.twitter{
    background: #489BE9;
}
#services .cardsContent .serviceCard.youtube{
    background: #E20C0C;
}
#services .cardsContent .serviceCard.tiktok{
    background: #262626;
}
#services .cardsContent .serviceCard .icon{
    margin-bottom: 5px;
}
#services .cardsContent .serviceCard .icon img{
    width: 100%;
}
#services .cardsContent .serviceCard h4{
    font-style: normal;
font-weight: 700;
font-size: 29.207px;
line-height: 44px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
#services .cardsContent .serviceCard ul li{
    font-style: normal;
font-weight: 600;
font-size: 15.5771px;
line-height: 18px;
/* identical to box height, or 112% */

letter-spacing: 0.170374px;

color: #FFFFFF;
margin: 8px 0;
}
#services .cardsContent .serviceCard ul li i{
    margin-right: 8px;
}
#services .cardsContent .serviceCard .buttonDiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#services .cardsContent .serviceCard .buttonDiv button{
    background: transparent;
    border: none;
    outline: none;
    color: white;
}


#services .bottomCol{
    margin-bottom: 74px;
}

#services .bottomCol p{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

/* Home2/6 */

color: #FFFFFF;
}
#services .bottomCol p a{
    text-decoration: underline !important;
    color: white;
    margin-left: 5px;
    font-weight: bold;
}








/* mostAksingQuestions */
#mostAksingQuestions{
    background-image: url(../img/Group\ 1913.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 250px;
}
#mostAksingQuestions .questionContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mostAksingQuestions .questionContent .item{
    width: 1028px;
    height: auto;
    background: #FFFFFF;
border: 1px solid #DDDDDD;
border-radius: 22px;
padding: 32px 34px;
margin: 16px 0;
transition: all 300ms;
}
#mostAksingQuestions .questionContent .item.active{
    border-color: white;
    box-shadow: 0px 4px 4px rgba(135, 146, 161, 0.16), 0px 6px 41px rgba(135, 146, 161, 0.11);
border-radius: 18px;
}
#mostAksingQuestions .questionContent .item button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: start;
/* identical to box height */


color: #000000;
background: transparent;
border: none;
outline: none;
transition: all 300ms;
}
#mostAksingQuestions .questionContent .item button i{

transition: all 300ms;
}
#mostAksingQuestions .questionContent .item.active button i{
    transform: rotate(90deg);
}
#mostAksingQuestions .questionContent .item .info{
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 300ms;
}
#mostAksingQuestions .questionContent .item.active .info{
    display: inline-block;
}
#mostAksingQuestions .questionContent .item.active2 .info{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);

}
#mostAksingQuestions .questionContent .item .info p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */
    
    
    color: #666666;
}




/* comments */
#comments {
    margin-top: -120px;
}
#comments .commentsCol .swiper{
    padding: 40px 0;
}
#comments .commentsCol .swiper .swiper-pagination {
    top: auto;
    bottom: 0;
    height: 11px;
    border-radius: 2000px;
    mix-blend-mode: normal;
    background: #d8d8d8;
}
#comments .commentsCol .swiper .swiper-pagination span{
    height: 10px;
    border-radius: 2000px;
    opacity: 1;
    background: #FBB347;
}
#comments .commentsCol .commentItem{
    width: 100%;
    background: #FFFFFF;
box-shadow: 0px 4.90432px 61.304px rgba(241, 92, 5, 0.1);
border-radius: 24.5216px;
padding: 30px;
}
#comments .commentsCol .commentItem .profileInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#comments .commentsCol .commentItem .profileInfo img{
    width: 57.63px;
height: 57.63px;
border-radius: 50%;
margin-right: 22px;
}

#comments .commentsCol .commentItem .profileInfo h4{
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 37px;
/* identical to box height */
text-align: start;

color: #000000;
}
#comments .commentsCol .commentItem .profileInfo p{
    font-style: normal;
font-weight: 400;
font-size: 14.713px;
line-height: 22px;
/* identical to box height */
text-align: start;


color: #000000;
}
#comments .commentsCol .commentItem .stars{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}
#comments .commentsCol .commentItem .stars i{
    color: #FBB347;
    margin: 0 6px;
}
#comments .commentsCol .commentItem  .comment{
    text-align: start;
    font-style: normal;
font-weight: 400;
font-size: 17.1651px;
line-height: 26px;

color: #000000;

}
/* payWay */
#payWay{
    margin-top: 120px;
}
#payWay .payWayContent{
    background: linear-gradient(180deg, rgba(240, 241, 242, 0.82125) 100.18%, rgba(242, 249, 255, 0.12) 105.39%, #EFEFEF 120.49%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 65px 10px;
}
#payWay .payWayContent .item{
    width: 142.11px;
height: 142.11px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(135, 146, 161, 0.16), 0px 6px 41px rgba(135, 146, 161, 0.11);
border-radius: 18px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin: 0 20px ;
}
#payWay .payWayContent .item img{
    object-fit: contain;
    width: auto;
    height: auto;
}




/* footer */

footer{
    background: #F15C05;
    position: relative;
    padding: 110px 0;
}
footer .firstImage{
    position: absolute;
    top: 0;
    left: 0;
}
footer .secondImage{
    position: absolute;
    bottom: 0;
    right: 0;
}
footer .socialMediaButtons{
    position: absolute;
    bottom: 0;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .socialMediaButtons a{
    color: white;
    margin: 0 15px;
    font-size: 35px;
}

footer .logoContent .logo{
    padding-bottom: 36px;
    position: relative;
}
footer .logoContent .logo::before{
    content:  " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 1px;
    background: white;
}
footer .logoContent p{
    font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* or 22px */


color: #FFFFFF;
margin-top: 40px;
}
footer .logoContent p span{
    font-weight: bold;
}


footer .footerWayContent h4{
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152.19%;
/* identical to box height, or 37px */

display: flex;
align-items: center;

/* Home1/6 */

color: #FFFFFF;
}
footer .footerWayContent ul{
    margin-top: 12px;

}
footer .footerWayContent ul li{
    margin: 10px 0;
}
footer .footerWayContent ul li  a{
    font-family: 'Lato', sans-serif;    
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;

/* Home1/6 */

color: #FFFFFF;
}

footer .otherButtonsContent ul li{
    margin: 15px 0;
}
footer .otherButtonsContent ul li:nth-child(1){
    margin-top: 0;
}
footer .otherButtonsContent ul li a{
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152.19%;
/* identical to box height, or 37px */

display: flex;
align-items: center;

/* Home1/6 */

color: #FFFFFF;
}


footer .contactCol .contactItem h5{
    font-family: 'Lato', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

/* Home1/6 */

color: #FFFFFF;
margin-bottom: 5px;
}
footer .contactCol .contactItem p{
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 152.19%;
    /* identical to box height, or 37px */
    
    display: flex;
    align-items: center;
    
    /* Home1/6 */
    
    color: #FFFFFF;
}

footer .contactCol .contactItem:nth-child(2){
    margin-top: 20px;
}

/* copyrightContent */
.copyrightContent{
    background: #000000;
    padding: 27px 0;
}
.copyrightContent p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

/* Home1/6 */

color: #FFFFFF;
text-align: start;
}
@media (min-width:992px){
    header .mobileNav{
        display: none;
    }
}

@media (max-width:992px){
    header {
        height: 100px;
    }
    header .DekstopHeader{
        display: none;
    }
    #banner .loginCol .content{
        padding: 25px;
        flex-wrap: wrap;
    }
    #banner .loginCol .content .item{
        width: 48%;
    }
    #banner .loginCol .content button{
        width: 100%;
        margin: 10px 0;
    }
    #banner .loginCol .content .item{
        margin: 0;
    }
    #banner .loginCol .content button:nth-child(3){
        margin-top: 20px;
    }
    #banner .loginCol .content .buttons{
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #shortInfos .infosContent{
        flex-wrap: wrap;
    }
    #shortInfos .infosContent .item{
        width: 48%;
    }
    #ourDifference .infoCol .content .infoCard{
        width: 45%;
        margin: 10px;
    }
    .sectionTitle.customWidth1 h3{
        width: 98%;
        font-size: 40px;
    }
    #services .cardsContainer{
        height: auto;
        margin-top: 30px;

    }
    #services .cardsColMain{
        
    position: relative;
    top: 0;
    left: 0;

    }
    #services .cardsContent{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #services .cardsContent .serviceCard{
        width: 30%;
        margin: 30px;
    }
    #services .cardsContainer{
        background: transparent;
    }
    #services .bottomCol{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    #services .bottomCol p{
        color: #F15C05;
    }
    #services .bottomCol p a{
        color: #F15C05;
        font-weight: bold;
        text-align: center;
        margin-left: 5px;
    }
    #mostAksingQuestions .questionContent .item{
        width: 100%;
    }
    #payWay .payWayContent{
        flex-wrap: wrap;
    }
    #payWay .payWayContent .item{
        margin: 10px;
    }
    footer .otherButtonsContent{
        margin-top: 20px;
    }
    footer .socialMediaButtons{
        right: 15%;
    }
}

@media (max-width:425px){
    #banner .textsContent h2{
        font-size: 40px;
    }
    #banner .loginCol .content .item{
        width: 100%;
        margin: 10px 0;
    }
    .sectionTitle h3{
        width: 100%;
    }
    .sectionTitle p{
        width: 100%;
    }
    #shortInfos .infosContent{
        width: 90%;
        padding: 25px;
    }

    #shortInfos .infosContent .item{
        width: 100%;
        margin: 10px 0;
    }
    #ourDifference .infoCol .content .infoCard{
        width: 100%;
        margin: 10px 0;
    }
    #services .cardsContent .serviceCard{
        width: 100%;
    }
    #services .bottomCol p{
        font-size: 15px;
    }
    #mostAksingQuestions .questionContent .item{
        padding: 20px;
    }
    footer .footerWayContent{
        margin-top: 20px;
    }
    footer .otherButtonsContent{
        margin-top: 20px;
    }
    footer .contactCol .contactItem{
        margin-top: 20px;
    }
    footer .socialMediaButtons{
        right: 26%;
    }
}