/* 
Fonts
*/
@font-face {
    font-family: ML;
    src: url(../fonts/Montserrat/Montserrat-Light.otf)
}

@font-face {
    font-family: MB;
    src: url(../fonts/Montserrat/Montserrat-Bold.otf);
}
@font-face {
    font-family: MSB;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.otf);
}
@font-face {
    font-family: MR;
    src: url(../fonts/Montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: MM;
    src: url(../fonts/Montserrat/Montserrat-Medium.otf);
}

@font-face {
    font-family: Socialize;
    src: url(../fonts/Socialize/Socialize.ttf);
}


/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
}
body,html {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background: #22133A ;
    display: flex;
    flex-direction: column;
}
body .body-bg-img{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    z-index: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

ul{
    padding: 0 ;
    margin: 0;
}

a {
    text-decoration: none !important;
}




/* Global Style */
.sectionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}
.sectionTitle h3{
    font-size: 24px;
    font-family: MB;
    color: #FF0045;
    text-align: center;
    margin-bottom: 10px;
}
.sectionTitle p{
    font-size: 16px;
    color: #F2F5FB;
    font-family: MM;
    max-width: 690px;
    text-align: center;
}
/* themeSettings */


.themeSettings .content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}
.themeSettings .content p{
    color: white;
    font-family: MSB;
    font-size: 14px;
    margin-right: 23px;
}

.themeSettings .content .themes{
    width: 70px;
    height: 34px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}
.themeSettings .content .themes button{
    background: transparent;
    border: none;
    outline: none;
    width: 34px;
    height: 100%;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.themeSettings .content .themes button.active{
    background: #FF0045;
}

/* header */
header{
    z-index: 100;
}
.dekstopHeader .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.dekstopHeader .content .logo img{
    height: 90px;
}
.dekstopHeader .content .navList ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dekstopHeader .content .navList ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}
.dekstopHeader .content .navList ul li a{
    color: white;
    font-size: 16px;
    font-family: MSB;
    transition: all 300ms;
}
.dekstopHeader .content .navList ul li a span{
    transition: all 300ms;
    position: relative;
    padding-bottom: 5px;
}
.dekstopHeader .content .navList ul li a span::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background: white;
    transition: all 300ms;
}
.dekstopHeader .content .navList ul li a:hover span::before{
    width: 100%;
}
.dekstopHeader .content .navList ul li a i{
    margin-right: 10px;
}

.dekstopHeader .content .loginandRegisterWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dekstopHeader .content .loginandRegisterWrapper button{
    border: none;
    outline: none;
    width: 150px;
    height: 43px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: MSB;
}
.dekstopHeader .content .loginandRegisterWrapper button i{
    margin-right: 14px;
}
.dekstopHeader .content .loginandRegisterWrapper button.loginBTN{
    margin-right: 15px;
}
.dekstopHeader .content .loginandRegisterWrapper button.loginBTN{
    background: #FF0045;
    box-shadow: -1px 0px 20px #EB4A63;
}
.dekstopHeader .content .loginandRegisterWrapper button.registerBTN{
    background: #4F46E5;
    box-shadow: -1px 0px 20px #4F46E5;
}


/* mobileHeader */
.mobileHeader{
    position: absolute;
    top: 10px;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 10%;
}
.mobileHeader button{
    font-size: 30px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
}
.mobileHeader img{
    height: 40px;
}
/* mobileOpenMenu */

.mobileOpenMenu{

    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 1000;
    transition: all 300ms;
}
.mobileOpenMenu.active{
    left: 0;
    visibility: visible;
    opacity: 1;
}
.mobileOpenMenu .bg-close{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: 1;
}
.mobileOpenMenu .content{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: #22133A;
    z-index: 100;
}
.mobileOpenMenu .content .closeButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
.mobileOpenMenu .content .closeButton button{
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}
.mobileOpenMenu .content .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:10px;
    left: 15px;
    height: 50px;
    width: 150px;
}
.mobileOpenMenu .content .logo img{
    width: 100%;
    height: 100%;
}
.mobileOpenMenu .content .navList{
    width: 100%;
}
.mobileOpenMenu .content .navList ul{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.mobileOpenMenu .content .navList ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 20px;
    border-bottom: 1px solid #545659;
    width: 100%;
}
.mobileOpenMenu .content .navList ul li a{
    color: white;
    font-size: 16px;
    font-family: MSB;
    transition: all 300ms;
}
.mobileOpenMenu .content .navList ul li a span{
    transition: all 300ms;
    position: relative;
    padding-bottom: 5px;
}
.mobileOpenMenu .content .navList ul li a span::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background: white;
    transition: all 300ms;
}
.mobileOpenMenu .content .navList ul li a:hover span::before{
    width: 100%;
}
.mobileOpenMenu .content .navList ul li a i{
    margin-right: 10px;
}
.mobileOpenMenu .content .loginandRegisterWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    padding: 0 20px;
}
.mobileOpenMenu .content .loginandRegisterWrapper button{
    border: none;
    outline: none;
    width: 100%;
    height: 43px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.mobileOpenMenu .content .loginandRegisterWrapper button i{
    margin-right: 14px;
}

.mobileOpenMenu .content .loginandRegisterWrapper button.loginBTN{
    background: #FF0045;
    box-shadow: -1px 0px 5px #EB4A63;
}
.mobileOpenMenu .content .loginandRegisterWrapper button.registerBTN{
    background: #4F46E5;
    box-shadow: -1px 0px 5px #4F46E5;
}








/* banner */
#banner{
    padding-top: 100px;
    z-index: 100;
}

#banner .leftContent h2{
    font-size: 48px;
    font-family: MSB;
    color: #FF0045;
}
#banner .leftContent p{
    font-size: 24px;
    font-family: MR;
    color: #6B7280;
    margin: 30px 0 60px 0;
}
#banner .leftContent .scrollShowDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .leftContent .scrollShowDiv .scrollShowContent{
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background: rgba(211, 64, 92, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .leftContent .scrollShowDiv .scrollShowContent div{
    width: 27px;
    height: 60px;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
}
#banner .leftContent .scrollShowDiv .scrollShowContent div span{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    animation: scollAnimation 1200ms infinite;
}
@keyframes scollAnimation {
    0%{
        top: 10%;
    }
    100%{
        top: 70%;
    }
}



#banner .rightContent{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .rightContent img{
    z-index: 100;
}
.wave {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  

  


  

  .wave__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .wave__circle {
    position: absolute;
    background-color: transparent;
    border: 8px solid #E7405C;
    border-radius: 50%;
   
  
    animation-name: ripple;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0, 0.2, 0.8, 1);
    animation-iteration-count: infinite;
  }
  
  .wave__container .wave__circle:nth-child(2) {
    animation-delay: -1s;
  }
  
  .wave__container .wave__circle:nth-child(3) {
    animation-delay: -2s;
  }
  
  @keyframes ripple {
    0% {
      top: 250px;
      left: 250px;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    100% {
      top: 0;
      left: 0;
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
  
.loginComponentCon .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginComponent{
    background: #FF0045;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 64px;
    z-index: 100;
    width: 100%;
    margin: 80px 0;
    border-radius: 18px;
}
 .loginComponent .loginItem {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
  .loginComponent .loginItem:first-child{
    margin-right: 30px;
}
.loginComponent .loginItem h4{
    font-size: 14px;
    font-family: MR;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: start;
}
 .loginComponent .loginItem > input{
    width: 500px;
    height: 60px;
    background: white;
    border: none;
    outline: none;
    color: #23252E;
    font-size: 14px;
    font-family: MR;
    padding: 10px 20px;
    border-radius: 8px;
}

 .loginComponent .loginItem .rememberMeDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;

}
 .loginComponent .loginItem .rememberMeDiv p{
    margin-left: 12px;
    font-size: 14px;
    font-family: MR;
    color: #FFFFFF;
}
 .loginComponent .loginItem .inputDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 60px;
    background: white;
    position: relative;
    border-radius: 8px;
}
 .loginComponent .loginItem .inputDiv input{
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.loginComponent .loginItem .inputDiv button{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 125px;
    height: 45px;
    background: #FF0045;
    color: white;
    border-radius: 8px;
}
.loginComponent .loginItem a{
    margin-left: 12px;
    font-size: 14px;
    font-family: MR;
    color: #FFFFFF;
    margin-top: 10px;
}


/* shortInfos */
#shortInfos{
    margin: 80px 0;
}
#shortInfos .content{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    padding: 36px 60px;
    background: #FF0045;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#shortInfos .content .infoItem{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#shortInfos .content .infoItem::before{
    content: " ";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    width: 2px;
    height: 50px;
}
#shortInfos .content .infoItem:last-child::before{
    display: none;
}
#shortInfos .content .infoItem .icon{
    margin-right: 20px;
}
#shortInfos .content .infoItem .infoTexts h4{
    font-family: MB;
    color: #FFFFFF;
    font-size: 22px;
    margin-bottom: 5px;
}
#shortInfos .content .infoItem .infoTexts p{
    font-family: MB;
    color: #FFFFFF;
    font-size: 22px;
}



/* howUse */

#howUse {
    padding-top: 100px;
}
#howUse .leftContent .content a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 136px;
    height: 53px;
    background: rgba(255, 0, 69, 0.1);
    font-size: 14px;
    font-family: MB;
    color:#FF0045;
}
#howUse .leftContent .content h3{
    color: white;
    font-size: 36px;
    font-family: MSB;
    padding: 40px 0;
    border-bottom: 2px solid #FF0045; 
}
#howUse .leftContent .content p{
    font-size: 16px;
    font-family: MM;
    color: #F2F5FB;
    padding: 45px 0;
}

#howUse .leftContent .content button{
    border: none;
    outline: none;
    width: 240px;
    height: 56px;
    border-radius: 12px;
    background: #E7405C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: MSB;
    color: #FFFFFF;
}

#howUse .rightContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#howUse .rightContent .cardItem{
    width: 48%;
    border: 1px solid #FF0045;
    padding: 40px 30px;
}

#howUse .rightContent .cardItem{
    margin-top: 30px;
}
#howUse .rightContent .cardItem:first-child{
    margin: 0;
}
#howUse .rightContent .cardItem:nth-child(3){
    margin-top: 0px;
}
#howUse .rightContent .cardItem:last-child{
    margin-top: 60px;
}
#howUse .rightContent .cardItem .icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
}
#howUse .rightContent .cardItem .icon svg{
    z-index: 100 ;
}
#howUse .rightContent .cardItem .icon::before{
    content: " ";
    position: absolute;
    top: -40%;
    right: -40%;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background: #FF0045;
    z-index: 1;
}
#howUse .rightContent .cardItem h4{
    font-size: 24px;
    font-family: MSB;
    color: #FF0045;
}
#howUse .rightContent .cardItem p{
    font-size: 14px;
    font-family: MM;
    color: #6B7280;
    margin: 20px 0 25px 0;
}
#howUse .rightContent .cardItem button{
    border: none;
    outline: none;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    background: #E7405C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: MSB;
    color: #FFFFFF;
}



/* socialMediaServices */

#socialMediaServices{
    padding: 30px 0;
}
#socialMediaServices .sectionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}
#socialMediaServices .sectionTitle h3{
    font-size: 24px;
    font-family: MB;
    color: #FF0045;
}
#socialMediaServices .sectionTitle p{
    font-size: 16px;
    color: #F2F5FB;
    font-family: MM;
}

#socialMediaServices .infoListContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#socialMediaServices .infoListContent .icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#socialMediaServices .infoListContentFirst .icon{
    margin-left: 10px;

}
#socialMediaServices .infoListContentSecond .icon{
    margin-right: 10px;
}
#socialMediaServices .infoListContent .icon svg{
    z-index: 100;
}

#socialMediaServices .infoListContent .icon::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    background: #FF0045;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    z-index: 1;
}
#socialMediaServices .infoListContent ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

#socialMediaServices .infoListContent ul li .texts h4{
    font-size: 24px;
    font-family: MSB;
    color: #FF0045;
    margin-bottom: 9px;
}
#socialMediaServices .infoListContent ul li .texts p{
    font-size: 14px;
    font-family: MM;
    color: #6B7280;
}




/* comments */

#comments{
    padding: 40px 0;
}

#comments .commentsImageCol{
    display: flex;
    align-items: center;
    justify-content: center;
}
#comments .commentsImage{
    border: 1px solid #F2F5FB;
    padding: 60px 0 20px 0;
    position: relative;
    width: 430px;
    height: 527px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#comments .commentsImage img{
    z-index: 100;
}
#comments .commentsImage::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 172px;
    background: #FF0045;
    z-index: 1;
}


#comments .commentsContent{
    height: 100%;
}
#comments .commentsContent .swiper{
    height: 100%;
    padding-bottom: 80px;
}
#comments .commentsContent .swiper-button-next:after, 
#comments .commentsContent  .swiper-button-prev:after{
    display: none;
}
#comments .commentsContent .swiper-button-next, 
#comments .commentsContent .swiper-button-prev{
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    font-size: 22px;
    color: #FF0045;
}
#comments .commentsContent .swiper-button-next{
    margin-left: 40px;
}
#comments .commentsContent .swiper-slide{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
#comments .commentsContent .swiper-button-disabled{
    color: white;
    font-size: 20px;
    opacity: 1;
}
#comments .commentsContent .swiper-slide > p{
    font-size: 24px;
    font-family: MSB;
    color: #F2F5FB;
}
#comments .commentsContent .swiper-slide .author h4{
    font-size: 14px;
    font-family: MSB;
    color: #F2F5FB;
}
#comments .commentsContent .swiper-slide .author p{
    font-size: 14px;
    font-family: MSB;
    color: #F2F5FB;
}


/* ProfessionallyExperienced */
#ProfessionallyExperienced{
    padding: 40px 0;
}
#ProfessionallyExperienced .container{
    background:linear-gradient(-135deg,#EC5450,#7F09A3);
    height: 318px;
    padding: 25px 65px;
    border-radius: 30px 0 30px 30px;
    overflow: visible;

}
#ProfessionallyExperienced .container .row{
    height: 100%;
    overflow: visible;
}
#ProfessionallyExperienced .container .row .col-12{
    height: 100%;
    overflow: visible;

}
#ProfessionallyExperienced .mainContent{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#ProfessionallyExperienced .mainContent .texts .tabContent{
    display: none;
    visibility: hidden;
    opacity: 1;
}
#ProfessionallyExperienced .mainContent .texts .tabContent.active{
    display: block;
}
#ProfessionallyExperienced .mainContent .texts .tabContent.active.active2{
    visibility: visible;
    opacity: 1;
}
#ProfessionallyExperienced .mainContent .texts h4{
    font-size: 16px;
    font-family: MSB;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#ProfessionallyExperienced .mainContent .texts p{
    font-size: 14px;
    font-family: MM;
    color: #FFFFFF;
}

#ProfessionallyExperienced .mainContent .texts .socialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF0045;
    border-radius: 15px;
    padding: 20px 60px;
    width: 60%;
    transform: translateY(50%);
}
#ProfessionallyExperienced .mainContent .texts .socialMedia button{
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    font-family: MSB;
    color: #FFFFFF;
    margin: 0 15px;
}
#ProfessionallyExperienced .imgContent   {
    height: 100%;
    position: relative;
}

#ProfessionallyExperienced .imgContent img {
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    width: 294px;
}



/* MostAskingQuestions */

#MostAskingQuestions{
    padding: 80px 0;
}
#MostAskingQuestions .questionsContent .questionItem{
    width: 100%;
    border: 1px solid #F2F5FB;
    border-radius: 30px;
    padding: 25px 9px 25px 25px;
    margin: 10px 0;
}
#MostAskingQuestions .questionsContent .questionItem .questionBTN{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6B7280;
    font-size: 16px;
    font-family: MSB;
}
#MostAskingQuestions .questionsContent .questionItem .questionBTN span{
    width: calc(100% - 42px);
    margin-right: 5px;
}
#MostAskingQuestions .questionsContent .questionItem .questionBTN .icon{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: linear-gradient(-45deg,#EC5450,#7F09A3);
    color: white;
}
#MostAskingQuestions .questionsContent .questionItem .otherInfo{
    display: none;
    margin-top: 30px;
}
#MostAskingQuestions .questionsContent .questionItem.active .otherInfo{
    display: inline-block;
}
#MostAskingQuestions .questionsContent .questionItem .otherInfo p{
    color: #6B7280;
    font-size: 14px;
    font-family: MM;
}


/* footer */
footer{
    background: #FF0045;
    position: relative;
    margin-top: 280px;
    padding-top: 180px;
}
footer .footer-top{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 270px;
    background: #F2F5FB;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #9d9d9d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px;
}
footer .footer-top .left{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-top .right h4{
    font-size: 24px;
    font-family: MSB;
    color: #FF0045;
}
footer .footer-top .right h6{
    font-size: 12px;
    font-family: MSB;
    color: #6B7280;
    margin-top: 13px;
}
footer .footer-top .right .inputArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 21px;
    margin-bottom: 15px;
}
footer .footer-top .right .inputArea input{
    width: 301px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #C4CCDD;
    padding: 10px;
}
footer .footer-top .right .inputArea button{
    width: 155px;
    height: 60px;
    background: transparent;
    border: 2px solid #FF0045;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: MSB;
    color: #FF0045;
    margin-left: 15px;
}
footer .footer-top .right .inputArea button i{
    margin-left: 8px;
}
footer .footer-top .right p{
    font-size: 12px;
    font-family: MM;
    color: #919EBE;
}
footer .footer-top .right p a{
    font-family: MSB;
    text-decoration: underline !important;
    color: #919EBE;

}



footer .footer-main-container img{
    margin-bottom: 50px;
}


footer .footer-main-container h4{
    font-size: 16px;
    font-family: MB;
    color: #000000;
    margin-bottom: 29px;
}
footer .footer-main-container p,
footer .footer-main-container ul li a{
    font-size: 14px;
    font-family: MM;
    color: #FFFFFF;
}
footer .footer-main-container .contact{
    margin-top: 50px;
}


footer .footer-main-container .content .item{
    margin-bottom: 29px;
}

footer .footer-main-container ul li{
    margin: 5px 0;
}



footer .copyrightContainer{
    background: black;
}
footer .copyrightContainer .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
footer .copyrightContainer .col-12 p{
    color: white;
    font-size: 12px;
    font-family: MM;
}


/* Medias */
@media (min-width:992px){
    .mobileHeader{
        display: none;
    }
   
}
@media (max-width:992px){
        body .body-bg-img{
            height: 300px;
        }
        header{
            height:55px;
        }
        header .dekstopHeader{
            display: none;
        } 
        #banner{
            padding-top: 80px;
        }
        #banner .rightContent{
            display: none;
        }
        #shortInfos .content{
            flex-wrap: wrap;
            height: auto;
        }
        #shortInfos .content .infoItem{
            width: 48%;
            justify-content: flex-start;
            margin: 10px 0;
        }
        #shortInfos .content .infoItem:nth-child(2)::before{
            display: none;
        }
        #shortInfos .content .infoItem::before{
            right: 0;
        }
        #howUse{
            padding-top: 50px;
        }
        #howUse .rightContent{
            margin-top: 40px;
        }
        #socialMediaServices{
            margin-top: 80px;
        }
        #socialMediaServices .imageContent{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #comments .commentsContent{
            margin-top: 40px;
        }
        #ProfessionallyExperienced .imgContent img{
            display: none;
        }
        #MostAskingQuestions .imgContent{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .loginComponent .loginItem > input{
            width: 250px;
        }
         .loginComponent .loginItem .inputDiv{
            width: 250px;
        }
         .loginComponent .loginItem .inputDiv button{
            width: 105px;
        }
        footer .footer-top{
            width: 90%;
            top: -10%;
        }
        footer .footer-top .left img{
            width: 100px;
            margin-right: 10px;
        }
}
@media (max-width:425px){
    #banner{
        padding-top: 40px;
    }

    #shortInfos .content .infoItem{
        width: 100%;
    }
    #shortInfos .content .infoItem::before{
        display: none;
    }
    #shortInfos .content{
        padding: 25px;
    }
    #howUse .rightContent .cardItem{
        width: 100%;
        margin-bottom: 30px;
    }
    #howUse .rightContent .cardItem:last-child{
        margin-top: 30px;
    }
    #ProfessionallyExperienced {
        padding: 40px 10px;
    }
    #ProfessionallyExperienced .container{
        padding: 20px;
        height: auto;
    }
    #ProfessionallyExperienced .mainContent .texts{
        width: 100%;
    }
    #ProfessionallyExperienced .mainContent .texts p{
        width: 86%;
    }
    #ProfessionallyExperienced .mainContent .texts .socialMedia{
        width: 100%;
        transform: translate(-15% , 70%);
    }
     .loginComponent{
        flex-direction: column;
        width: 95%;
    }
     .loginComponent .loginItem:first-child{
        margin: 0;
        margin-bottom: 20px;
    }
    
     .loginComponent .loginItem > input{
        width: 300px;
    }
     .loginComponent .loginItem .inputDiv{
        width: 300px;
    }
    footer{
        padding-top: 275px;
    }
    footer .footer-main-container .logoCol img{
        width: 100%;
    }
    footer .footer-main-container .logoCol{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer .footer-top{
        height: auto;
        flex-direction: column;
    }
    footer .footer-top .right .inputArea{
        flex-direction: column;
        align-items: flex-start;
    }
    footer .footer-top .right .inputArea button{
        margin: 0;
        margin-top: 15px;
    }
    footer .footer-main-container .WidthLogoContent{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 29px;
    }
    footer .footer-main-container p, footer .footer-main-container ul li a{
        text-align: center;
    }
    footer .footer-main-container .content .item{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
    }
    footer .footer-main-container ul li{
        text-align: center;
    }
}
