/* 
Fonts
*/
@font-face {
    font-family: ML;
    src: url(../fonts/Montserrat/Montserrat-Light.otf)
}

@font-face {
    font-family: MB;
    src: url(../fonts/Montserrat/Montserrat-Bold.otf);
}
@font-face {
    font-family: MSB;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.otf);
}
@font-face {
    font-family: MR;
    src: url(../fonts/Montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: MM;
    src: url(../fonts/Montserrat/Montserrat-Medium.otf);
}

@font-face {
    font-family: Socialize;
    src: url(../fonts/Socialize/Socialize.ttf);
}
/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
}
body,html {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background: #F9FAFF !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

ul{
    padding: 0 ;
    margin: 0;
}

a {
    text-decoration: none !important;
}


/* 
    Global Css
*/
.input{
    width: 100%;
    height: 50px;
    border: 1px solid #E6ECFF;
    border-radius: 5px;
    font-size: 14px;
    font-family: MM;
    color: #23252E;
    padding: 15px 19px;
}
.disable-input-bg-transparent{
    background: transparent;
}
.textarea{
    width: 100%;
    border: 1px solid #E6ECFF;
    border-radius: 5px;
    font-size: 14px;
    font-family: MM;
    color: #23252E;
    padding: 15px 19px;
}
.textarea::placeholder{
    font-size: 14px;
    font-family: MM;
    color: #52667B;
}
.select{
    width: 100%;
    height: 50px;
    border: 1px solid #E6ECFF;
    border-radius: 5px;
    font-size: 14px;
    font-family: MM;
    color: #23252E;
    padding: 15px 13px;
    
}
.submit{
    margin-top: 20px;
}
.input.forCopy{
    background: #E6ECFF;
}
.item-input-group{
    margin-top: 15px;
}
.item-input-group h4{
    font-size: 14px;
    color: #23252E;
    font-family: MM;
    margin-bottom: 9px;
}



.Btn{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 5px 15px;
    font-size: 12px;
    font-family: MB;
}
.Btn.Btn-bg-blue{
    background: #2F5AFF;
}
.Btn.Btn-bg-white{
    background: #FFFFFF;
}
.Btn.Btn-bg-green{
    background: #4EBE86;
}
.Btn.Btn-white{
    color: white;
}
.Btn.Btn-blue{
    color: #2F5AFF;
}
.Btn.Btn-black{
    color: #0F1419;
}
.Btn.Btn-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Btn.Btn-bordered{
    border-radius: 5px;
}


.content-bordered{
    border: 1px solid #E6ECFF;
}
.content-border-radius{
    border-radius: 5px;
}
.content-bg-white{
    background: white;
}


/* Swiper */



.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }




/* header */
.header2Main{
    width: 100%;
    background: white;
}
.header2 {
    align-items: center;
}
.header-2-nav li a {
    font-family: MSB;
    font-weight: 600;
    font-size: 16px;
    color: #23252E;
}
.login-header-2 .loginbt {
    font-family: MSB;
    font-weight: 600;
    font-size: 14px;
    color: #0F1419;
    border: 1px solid #E6ECFF;
    padding: 8px;
    border-radius: 3px;
}

.login-header-2 .signbt {
    font-family: MSB;
    font-weight: 600;
    font-size: 14px;
    background: #2F5AFF;
    color: #FFFFFF;
    border: 1px solid #E6ECFF;
    padding: 8px 15px;
}
.loginbt i {
    margin-right: 10px;
}

.signbt i {
    margin-right: 10px;
}



/* MapSection */
.MapSection{
    height: 600px;
    background: #F5F6F7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.MapSection .mapouter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.MapSection .mapouter div{
    width: 100%;
    height: 100%;
}
.MapSection .mapouter iframe{
    width: 100%;
    height: 100%;
}

.MapSection .mapText{
    width: 480px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 5px;
    border: 2px solid #2F5AFF;
    background: white;
    margin-bottom: 120px;
    z-index: 100;
}
.MapSection .mapText .textItem:first-child{
    margin-right: 10px;
}
.MapSection .mapText h4{
    font-size: 14px;
    font-family: MSB;
    color: #000000;
    margin-bottom: 15px;
}
.MapSection .mapText p{
    font-size: 14px;
    font-family: MR;
    color: #000000;
}
.MapSection .mapText p span{
    font-family: MB;
}
.MapSection > i{
    font-size: 72px;
    color: #2F5AFF;
    z-index: 100;
}






/* comunication */
.comunication{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 40px 0;
}
.comunication .comunicationContent{
    width: 680px;
}
.comunication .headerTextNoOutPadding{
    padding:  15px 65px ;
    border-bottom: 1px solid #E6ECFF;
}
.comunication   .headerTextNoOutPadding h3{
    font-size: 20px;
    font-weight: MB;
    color: #000000;
}
.comunication   .headerTextNoOutPadding p{
    color: #58585A;
    font-size: 14px;
    font-family: MR;
}
.comunication .comunicationContent .content{
    padding: 40px 65px;
}
.comunication .comunicationContent textarea {
    height: 150px;
    min-height: 150px;
    max-height: 150px;
}
.comunication .comunicationContent .submit button{
    width: 120px;
}







/* mobile Header */
.mobileHeader{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    background: white;
}
.mobileHeader.bg-blue{
    background: #213EB3;
}
.mobileHeader button{
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
}
.mobileHeader.bg-blue button{
    color: white;
}
.mobileHeader .comunicationDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.mobileHeader .comunicationDiv a{
    color: white;
}
.mobileHeader .socialMediaMobile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobileHeader .socialMediaMobile li a{
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    display: grid;
    padding: 3px;
    place-items: center;
    color: black;
    margin: 0 5px;
}
/* mobileOpenMenu */
.mobileOpenMenu{
    position: fixed;
    top: 0px;
    left: -100%;
    transition: all 300ms;
    height: 100vh;
    width: 100%;
    display: flex;

    z-index: 1000;

}
.mobileOpenMenu  .buttons{
    padding: 0 20px;
}
.mobileOpenMenu  .buttons button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #213EB3;
    color: white;
    font-family: MM;
    margin: 10px 0;
}
.mobileOpenMenu .bg-close{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: 1;

}
.mobileOpenMenu .content{
    background: #2F5AFF;
    width: 80%;
    padding: 10px 0;
    z-index: 100;
    overflow-y: auto;
}
.mobileOpenMenu .content .closeBtnDiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}
.mobileOpenMenu .content .closeBtnDiv button{
    width: auto;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 25px;
}
.mobileOpenMenu .content ul{
    width: 100%;
}
.mobileOpenMenu .content ul li{
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #b2b2b2;
}
.mobileOpenMenu .content ul li a{
    color: white;
    text-align: start;
}
.mobileOpenMenu.active{
    left: 0;
}
.mobileOpenMenu li a {
    font-family: MSB;
    font-weight: 600;
    font-size: 16px;
    color: #23252E;
    text-align: center;
}
.mobileOpenMenu.bg-blue li a{
    color: white;
}
.mobileOpenMenu .loginbt {
    font-family: MSB;
    font-weight: 600;
    font-size: 14px;
    color: #0F1419;
    border: 1px solid #E6ECFF;
    padding: 8px;
    border-radius: 3px;
}

.mobileOpenMenu .signbt {
    font-family: MSB;
    font-weight: 600;
    font-size: 14px;
    background: #2F5AFF;
    color: #FFFFFF;
    border: 1px solid #E6ECFF;
    padding: 8px 15px;
}

.mobileOpenMenu .nav{
    flex-direction: column;
    margin-bottom: 20px;
}
.mobileOpenMenu .comunication a{
    margin: 5px 0;
    color: white;
    font-family: MM;
}

.mobileOpenMenu .comunication a i{
    margin-right: 10px;
}













/* businessInfo */
.businessInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 62px 20px;
}

.businessInfo .businessInfoContent{
    width: 959px;
}
.businessInfo .headerTextNoOutPadding{
    padding:  15px 22px ;
    border-bottom: 1px solid #E6ECFF;
}
.businessInfo   .headerTextNoOutPadding h3{
    font-size: 20px;
    font-weight: MB;
    color: #000000;
}
.businessInfo .content{
    padding: 15px 22px;
}

.businessInfo .businessInfoCardsContent{
    width: 959px;
}
.businessInfoCardsContent .infoCards{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.businessInfoCardsContent .infoCards .infoCard{
    width: 48%;
    padding: 23px 20px;
    border: 1px solid #E6ECFF;
    background: white;
    margin: 10px 5px;
}
.businessInfoCardsContent .infoCards .infoCard .cardTop{
    width: 100%;
    height: 160px;
    background: #F8F9FD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.businessInfoCardsContent .infoCards .infoCard .cardTexts{
    margin-top: 18px;
    width: 100%;
}
.businessInfoCardsContent .infoCards .infoCard .cardTexts ul{
    width: 100%;
}
.businessInfoCardsContent .infoCards .infoCard .cardTexts ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
    border-bottom: 1px solid #EDEEF2;
}
.businessInfoCardsContent .infoCards .infoCard .cardTexts ul li:first-child{
    border-top:1px solid #EDEEF2 ;
}
.businessInfoCardsContent .infoCards .infoCard .cardTexts ul li h6{
    font-size: 12px;
    font-family: MSB;
    color: #292F34;
    margin: 0;
    width: 100px;
}
.businessInfoCardsContent .infoCards .infoCard .cardTexts ul li p{
    font-size: 12px;
    font-family: MSB;
    color: #576078;
    margin: 0;
    margin-left: 35px;
}
.businessInfoCardsContent .infoCards .infoCard .cardTexts ul li p span{
    font-size: 12px;
    font-family: MSB;
    color: #292F34;
    margin-right: 19px;
}








/* blogDetail */
.blogDetail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 62px 20px;
}

.blogDetail .content{
    width: 959px;
    background: white;
    border: 1px solid #E6ECFF;
    border-radius: 5px;
    padding: 40px 82px;
}
.blogDetail .single-b-meta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.blogDetail .single-b-meta .author-b span{
    font-size: 16px;
    font-family: MR;
    color: #0F33FF;
}
.blogDetail .single-b-meta .author-b span a{
    font-size: 16px;
    font-family: MB;
    color: #58585A;
}
.blogDetail .single-b-meta .data-b{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogDetail .single-b-meta .data-b  button{
    background: transparent;
    border: none;
    outline: none;
    margin: 0 5px;
    color: #58585A;
    font-size: 16px;
    font-family: MB;
}
.blogDetail .single-b-meta .data-b  button i{
    color: #0F33FF;
    margin-right: 5px;
}

.blogDetail img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.blogDetail .topText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blogDetail .topText h2{
    color: #58585A;
    font-size: 30px;
    font-family: MB;
}

.blogDetail .topText p{
    color: #58585A;
    font-size: 16px;
    font-family: MR;
}

.blogDetail p{
    color: #58585A;
    font-size: 16px;
    font-family: MR;
    margin-bottom: 20px;
}
.blogDetail h4{
    color: #58585A;
    font-size: 18px;
    font-family: MB;
    margin-bottom: 20px;
}






/* blogList */
.blogList{
    padding: 80px 10px;
}
.blogList .blogWays{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.blogList .blogWays .prev,
.blogList .blogWays .next{
    width: 82px;
    height: 45px;
    background: white;
    border-radius: 10px;
    border: 1px solid #E6ECFF;
    color: #99A1B1;
    font-size: 14px;
    font-family: MSB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogList .blogWays .prev{
    margin-right: 5px;
}
.blogList .blogWays .next{
    margin-left: 5px;
}
.blogList .blogWays a{
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 10px;
    border: 1px solid #E6ECFF;
    color: #99A1B1;
    font-size: 14px;
    font-family: MSB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px ;

}

.blogList .blogWays a.active{
    background: #2F5AFF;
    color: white;
}

.blogList .slideContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogList .slideContent .blogItem{
    width: 48%;
    margin: 15px 5px;
    border: 1px solid #E6ECFF;
    background: white;
}
.blogList .slideContent .blogItem .topText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E6ECFF;
    padding: 13px 19px;
}
.blogList .slideContent .blogItem .topText .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.blogList .slideContent .blogItem .topText .left .logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2F5AFF;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 8px;
}
.blogList .slideContent .blogItem .topText .left .logo img{
    width: auto;
    height: auto;
}

.blogList .slideContent .blogItem .topText .left .author{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.blogList .slideContent .blogItem .topText .left .author h4{
    font-size: 14px;
    font-family: MB;
    color: #000000;
}
.blogList .slideContent .blogItem .topText .left .author span{
    font-size: 10px;
    font-family: MR;
    color: #0F33FF;
}
.blogList .slideContent .blogItem .topText .left .author span a{
    color: #58585A;

}
.blogList .slideContent .blogItem .topText .right p{
    font-size: 12px;
    font-family: MR;
    color: #58585A;
}
.blogList .slideContent .blogItem .mainContent{
    padding: 21px 19px;
}
.blogList .slideContent .blogItem .mainContent img{
    width: 100%;
    height: auto;
    margin-bottom: 54px;
}
.blogList .slideContent .blogItem .mainContent h3{
    font-size: 18px;
    font-family: MB;
    color: #000000;
    text-align: start;
    margin-bottom: 31px;
}
.blogList .slideContent .blogItem .mainContent p{
    color: #58585A;
    font-size: 16px;
    font-family: MR;
    margin-bottom: 20px;
    text-align: start;
}
.blogList .slideContent .blogItem .mainContent h4{
    color: #58585A;
    font-size: 18px;
    font-family: MB;
    margin-bottom: 20px;
    text-align: start;
}
.blogList .slideContent .blogItem .bottomCOntent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
    border-top: 1px solid #E6ECFF;
}
.blogList .slideContent .blogItem .bottomCOntent .single-b-meta .data-b{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogList .slideContent .blogItem .bottomCOntent .single-b-meta .data-b  button{
    background: transparent;
    border: none;
    outline: none;
    margin: 0 5px;
    color: #58585A;
    font-size: 16px;
    font-family: MB;
}
.blogList .slideContent .blogItem .bottomCOntent .single-b-meta .data-b  button i{
    color: #0F33FF;
    margin-right: 5px;
}
.blogList .slideContent .blogItem .bottomCOntent .readMoreBtn{
    width: 127px;
}



/* index.html headers */

#header {
    padding-top: 30px;
    background: #2F5AFF;
}
#header .container .header-col-left img{
        width: 253px;
        height: 55px;
}
#header .container .header-col-right nav ul li {
    margin-left: 20px;
}

#header .container .header-col-right nav ul li:first-child {
    margin-left: 0;
}

#header .container .header-col-right nav ul li a {
    color: white;
    font-size: 16px;
    font-family: MM;
}

#header .container .header-col-right nav ul li.country {
    padding: 11px 0;
    padding-left: 30px;
    padding-right: 25px;
    border-radius: 5px;
    cursor: pointer;
    width: 175px;
    position: relative;
    background: #2a51e5;
}

#header .container .header-col-right nav ul li.country span {
    color: white;
    font-size: 14px;
    font-family: MM;
    margin-left: 5px;
}

#header .container .header-col-right nav ul li .country-list li {
    margin-left: 0;
    margin-bottom: 10px;
}

#header .container .header-col-right nav ul li .country-list span {
    color: white;
    font-size: 14px;
    font-family: MM;
}

#header .container .header-col-right nav ul li .country-list {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    top: 50px;
    left: 0;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    padding-left: 30px;
    width: 175px;
    background: #2a51e5;
    transition: 400ms all;
}
#header .container .header-col-right nav ul li .country-list ul{
    padding: 0;
}
#header .container .header-col-right nav ul li .country-list.active {
    visibility: visible;
    opacity: 1;
}

#header .container .header-col-right nav ul li.country .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
    color: #fff;
}

#header .container .header-col-right nav ul li.country .arrow i {
    transition: 400ms all;
}

#header .container .header-col-right nav ul li.country .arrow i.active {
    transform: rotate(180deg);
}









#top-header {
    padding: 28px 0;
    background: #213FB2;
}

.header-row .h-left-col .contact-list li {
    margin-right: 17px;
}

.header-row .h-left-col .contact-list li:last-child {
    margin-right: 0;
}

.header-row .h-left-col .contact-list li a i {
    margin-right: 4px;
}

.header-row .h-left-col .contact-list li a {
    color: white;
    font-family: MM;
    letter-spacing: -0.35px;
    font-size: 14px;
}

.header-row .h-right-col .navigation-list li {
    position: relative;
    display: flex;
    align-items: center;    
    justify-content: center ;
}
.header-row .h-left-col .contact-list {
    padding: 0;
    margin: 0;
}
.header-row .h-right-col .navigation-list{
    margin: 0;
    padding: 0;
}
.header-row .h-right-col .navigation-list li a {
    padding: 0 10px;
}

.header-row .h-right-col .navigation-list li.sosial-item a {
    padding: 0;
}

.header-row .h-right-col .navigation-list li.sosial-item {
    margin-left: 10px;
}

.header-row .h-right-col .navigation-list li.sosial-item a {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    display: grid;
    padding: 3px;
    place-items: center;
}

.header-row .h-right-col .navigation-list li.sosial-item a i {
    color: black;
}

.header-row .h-right-col .navigation-list li .login {
    padding-left: 0;
}

.header-row .h-right-col .navigation-list li a {
    color:white;
    font-size: 14px;
    font-family: MM;
}

.header-row .h-right-col .navigation-list .list-border::after {
    opacity: 1;
    content: "";
    height: 10px;
    width: 2px;
    background: #5E5BB7;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
}









/* banner */
#banner{
    background: #2F5AFF;
    padding: 135px 0 260px 0;
    position: relative;
}
#banner .swiper{
    height: 435px;
}
#banner .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: transparent;
    border: 3px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 0;
    opacity: 1;
}
#banner .swiper-pagination-bullet::before{
    content: " ";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2F5AFF;
    border-radius: 50%;
}
#banner .swiper-pagination-bullet-active{
    font-size:38px;
    font-family: MSB;
    color: #FFFFFF;
    border: none;
    border-radius: 0;   
}
#banner .swiper-pagination-bullet-active::before{
    display: none;
}



#banner .swiper-button-next::after, 
#banner .swiper-button-prev::after{
    display: none;
}

#banner .swiper-button-next, 
#banner .swiper-button-prev{
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: white;
    bottom: auto;
    left: auto;
    font-size: 20px;
}
#banner .swiper-button-next{
    top: 72%;
}
#banner .swiper-button-prev{
    top: 38%;
}



#banner .slideContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
}
#banner .slideContent .left{
    width: 48%;
    position: relative;
    overflow: hidden;
    height: 100%;
}
#banner .slideContent .left img{
    width: 100%;
    z-index: 100;
    height: 100%;
    object-fit: contain;
}
.wave {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  

  


  

  .wave__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .wave__circle {
    position: absolute;
    background-color: transparent;
    border: 8px solid #213EB3;
    border-radius: 50%;
   
  
    animation-name: ripple;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0, 0.2, 0.8, 1);
    animation-iteration-count: infinite;
  }
  
  .wave__container .wave__circle:nth-child(2) {
    animation-delay: -1s;
  }
  
  .wave__container .wave__circle:nth-child(3) {
    animation-delay: -2s;
  }
  
  @keyframes ripple {
    0% {
      top: 250px;
      left: 250px;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    100% {
      top: 0;
      left: 0;
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
  



#banner .slideContent .right{
    width: 48%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#banner .slideContent .right h2{
    font-size: 48px;
    font-family: MSB;
    color: #FFFFFF;
    text-align: start;
}
#banner .slideContent .right p{
    font-size: 24px;
    font-family: MR;
    color: #FFFFFF;
    margin: 62px 0 52px 0;
    text-align: start;
}
#banner .slideContent .right button{
    width: 175px;
}
#banner  .loginComponent{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: #213FB2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 64px;
    z-index: 100;
}
#banner  .loginComponent .loginItem {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#banner  .loginComponent .loginItem:first-child{
    margin-right: 30px;
}
#banner  .loginComponent .loginItem h4{
    font-size: 14px;
    font-family: MR;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: start;
}
#banner  .loginComponent .loginItem > input{
    width: 500px;
    height: 60px;
    background: white;
    border: none;
    outline: none;
    color: #23252E;
    font-size: 14px;
    font-family: MR;
    padding: 10px 20px;
}

#banner  .loginComponent .loginItem .rememberMeDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;

}
#banner  .loginComponent .loginItem .rememberMeDiv p{
    margin-left: 12px;
    font-size: 14px;
    font-family: MR;
    color: #FFFFFF;
}
#banner  .loginComponent .loginItem .inputDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 60px;
    background: white;
    position: relative;
}
#banner  .loginComponent .loginItem .inputDiv input{
    padding: 10px 20px;
    width: 100%;
    height: 100%;
}
#banner  .loginComponent .loginItem .inputDiv button{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 125px;
    height: 45px;
}
#banner  .loginComponent .loginItem a{
    margin-left: 12px;
    font-size: 14px;
    font-family: MR;
    color: #FFFFFF;
    margin-top: 10px;
}

/* commentsSwiper */
.commentsSwiper{
    padding-left: 20px;
}

/* our-platforms */

#our-platforms {
    margin-top: 90px;
}
.info-elements-1 {
    text-align-last: center;
}

.info-elements-1 img {
    margin-top: 53px;
    margin-bottom: 65px;
}
.our-platform-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.our-platform-icons li {
    padding: 0 15px;
    font-size: 40px;
    color: #2F5AFF;
}




/* info-block */
#info-block {
    padding-top: 100px;
}

.info-block-right h2 {
    font-family: MB;
    font-size: 48px;
    letter-spacing: 0px;
    color: #000000;
}

.info-block-right p {
    font-family: MSB;
    font-size: 20px;
    padding: 30px 0;
}

.check-li li {
    font-family: MSB;
    font-size: 20px;
    padding-bottom: 20px;
}

.check-li li i {
    font-size: 15px;
    color: #4EBE86;
    background: #caebda;
    padding: 5px;
    margin-right: 20px;
    border-radius: 30px;
}






/* how-to */
#how-to {
    margin-top: 60px;
    background: #2F5AFF;
    padding-top: 64px;
}
.heading-2 h5 {
    font-size: 16px;
    letter-spacing: -0.8px;
    color: #01133D;
}

.heading-2 h2 {
    font-family: MSB;
    font-size: 36px;
    letter-spacing: -1.8px;
    color: #FFFFFF;
}

.heading-2 span {
    font-family: MR;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.sign-steps {
    padding-top: 72px;
    padding-bottom: 67px;
}
.step-icons {
    display: grid;
    justify-items: center;
    position: relative;
}
.step-icons img{
    z-index: 100;
}
.step-icons::before{
    content: " ";
    position: absolute;
    right: 0;
    top: 20%;
    height: 2px;
    background: #FFFFFF;
    width: 100%;
    z-index: 1;
}
.step-icons:first-child:before{
    width: 50%;
}
.step-icons:last-child:before{
    width: 50%;
    right: auto;
    left: 0;
}
.step-icons span {
    font-family: MB;
    font-family: 14px;
    letter-spacing: 0px;
    color: #01133D;
    padding-top: 25px;
    padding-bottom: 15px;
}

.step-icons p {
    font-family: MM;
    font-size: 13px;
    letter-spacing: 0px;
    color: #FFFFFF;
}



/* faq-home */
#faq-home {
    padding-top: 100px;
    background: #F9FAFF;
    padding-bottom: 120px;
}

#faq-home .heading-1 {
    padding-bottom: 50px;
}
.faq-item {
    border: none;
    margin-bottom: 12px;
}

.faq-item button {
    font-family: 'Montserrat';
    font-weight: 600 !important;
    font-size: 16px;
    color: #52667B;
}

.faq-item .accordion-body {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #52667B;
}

.faq-item .accordion-button:not(.collapsed) {
    color: #52667B;
    background-color: #ffffff;
}

/* client-comments */
#client-comments {
    padding-top: 50px;
}
.heading-1 h5 {
    font-size: 16px;
    letter-spacing: -0.8px;
    color: #2F5AFF;
    opacity: 1;
}

.heading-1 h2 {
    font-family: MM;
    font-size: 36px;
    letter-spacing: -1.8px;
    color: #292F34;
}

.heading-1 span {
    font-family: MM;
    font-size: 14px;
    letter-spacing: 0px;
    color: #576078;
}
.comment-single-home {
    box-shadow: 0px 3px 6px #00000029;
    background: #2e5aff;
    display: flex;
    border-radius: 23px;
    padding: 10px 0;
    margin: 20px;
}
.profile-image-c {
    position: relative;
    right: 40px;
}
.profile-image-c img{
    width: 82px;
    height: 82px;
}
.comment-body-c {
    padding: 10px 0;
    position: relative;
    display: grid;
    right: 20px;
}
.comment-body-c svg{
    position: absolute;
    top: 10px;
    right: 10px;
}
.client-name {
    font-family: MSB;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: start;
}

.client-position {
    font-family: MSB;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 5px;
    text-align: start;
}
.comment-body-c p {
    font-family: MR;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 14px;
    text-align: start;
}


/* loginSection */
#loginRegisterSection{
    height: 100vh;
}
#loginRegisterSection .mainContent{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
#loginRegisterSection .mainContent > div{
    width: 50%;
    position: relative;
}

#loginRegisterSection .mainContent .imgDiv::before{
    content:  " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0F33FF;
    opacity: .7;
}
#loginRegisterSection .mainContent .imgDiv img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#loginRegisterSection .mainContent .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
}
#loginRegisterSection .mainContent .left .logo{
    margin-bottom: 100px;
}
#loginRegisterSection .mainContent .left .inputs .headerText{
    margin-bottom: 56px;
}
#loginRegisterSection .mainContent .left .inputs .headerText h3{
    font-size: 36px;
    font-family: MSB;
    color: #080812;
}
#loginRegisterSection .mainContent .left .inputs .headerText p{
    font-size: 18px;
    font-family: MM;
    color: #B8BFCD;
    margin-top: 5px;
}
#loginRegisterSection .mainContent .left .inputs .inputItem{
    margin-top: 25px;
}
#loginRegisterSection .mainContent .left .inputs .inputItem .inputToptext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
#loginRegisterSection .mainContent .left .inputs .inputItem .inputToptext p,
#loginRegisterSection .mainContent .left .inputs .inputItem .inputToptext a{
    color: #B8BFCD;
    font-size: 18px;
    font-family: MM;
}
#loginRegisterSection .mainContent .left .inputs .inputItem input{
    width: 383px;
    height: 49px;
    background: #F9FAFF;
    border: 1px solid #E6ECFF;
    border-radius: 3px;
    padding: 10px;
}
#loginRegisterSection .mainContent .left .content > button{
    width: 383px;
    height: 49px;
    margin-top: 27px;
}
#loginRegisterSection .mainContent .left .content > p{
    font-size: 18px;
    font-family: MM;
    color: #B8BFCD;
    margin-top: 17px;
    text-align: center;
}
#loginRegisterSection .mainContent .left .content > p a{
    color: #2F5AFF;
    margin-left: 5px;
}
/* footer */
footer{
    background: #0434AD;
    position: relative;
    margin-top: 280px;
    padding-top: 180px;
}
footer .footer-top{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 270px;
    background: #F2F5FB;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #9d9d9d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px;
}
footer .footer-top .left{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-top .right h4{
    font-size: 24px;
    font-family: MSB;
    color: #4F46E5;
}
footer .footer-top .right h6{
    font-size: 12px;
    font-family: MSB;
    color: #6B7280;
    margin-top: 13px;
}
footer .footer-top .right .inputArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 21px;
    margin-bottom: 15px;
}
footer .footer-top .right .inputArea input{
    width: 301px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #C4CCDD;
    padding: 10px;
}
footer .footer-top .right .inputArea button{
    width: 155px;
    height: 60px;
    background: transparent;
    border: 2px solid #2F5AFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: MSB;
    color: #2F5AFF;
    margin-left: 15px;
}
footer .footer-top .right .inputArea button i{
    margin-left: 8px;
}
footer .footer-top .right p{
    font-size: 12px;
    font-family: MM;
    color: #919EBE;
}
footer .footer-top .right p a{
    font-family: MSB;
    text-decoration: underline !important;
    color: #919EBE;

}




footer .footer-main-container .logoCol{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-main-container .socialMediasFooterContent{
    margin: 55px 0;
}
footer .footer-main-container .socialMediasFooterContent ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-main-container .socialMediasFooterContent ul a{
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 40px;
    height: 40px;
    background: white;
    color: #0434AD;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 300ms;
}
footer .footer-main-container .socialMediasFooterContent ul a:hover{
    opacity: 0.5;
}
footer .footer-main-container .footerWaysContent ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #5E5BB7;
}
footer .footer-main-container .footerWaysContent ul li{ 
    padding: 0 20px;
    border-right: 2px solid #5E5BB7;

}
footer .footer-main-container .footerWaysContent ul li:last-child{
    border: none;
}
footer .footer-main-container .footerWaysContent ul li a{
    font-size: 18px;
    color: white;
    font-family: MM;
}
footer .footer-main-container .copyrightContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
footer .footer-main-container .copyrightContent p{
    font-size: 18px;
    color: white;
    font-family: MM;
    text-align: center;
}
/* Medias */
@media (min-width:992px){
    .mobileHeader{
        display: none;
    }
    .header-col-right  .mobileNavBtn{
        display: none;
    }
}

@media (max-width:992px){
    .header2Main{
        display: none;
    }
    .wave{
        width: 300px;
        height: 100%;
    }
    @keyframes ripple {
        0% {
          top: 150px;
          left: 150px;
          width: 0;
          height: 0;
          opacity: 1;
        }
      
        100% {
          top: 0;
          left: 0;
          width: 300px;
          height: 100%;
          opacity: 0;
        }
      }
    #header{
        padding-top: 10px;
    }
    .header-col-left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #header .container .header-col-left img{
        margin-top: 10px;
    }
    .header-col-right{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .header-col-right  .mobileNavBtn{
        background: transparent;
        border: none;
        outline: none;
        font-size: 30px;
        color: white;
        margin-left: 30px;
    }
    #header .container .header-col-right nav ul li.country{
        width: auto;
        padding:15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #header .container .header-col-right nav ul li .country-list span{
        display: none;
    }
    #header .container .header-col-right nav ul li .country-list{
        width: 100%;
        padding: 5px 15px;
    }
    #header .container .header-col-right nav > ul > li:not(:last-child){
        display: none;
    }
    
    #header .container .header-col-right nav ul li.country span.active-country{
        display: none;
    }
    #header .container .header-col-right nav ul li.country .arrow{
        display: none;
    }
    .businessInfo{
        width: 100%;
    }
    .businessInfo .businessInfoContent{
        width: 100%;
    }
    .businessInfo .businessInfoCardsContent{
        width: 100%;
    }
    .businessInfoCardsContent .infoCards .infoCard .cardTexts ul li p{
        margin-left: 10px;
    }
    #top-header{
        display: none;
    }
    
    #banner{
        padding-top: 10px;
    }
    #banner .slideContent{
        flex-direction: column;
        width: 100%;
    }
    #banner .slideContent .right,
    #banner .slideContent .left{
        width: 100% ;
    }
    #banner .slideContent .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #banner .slideContent .left img{
        width: 300px;
        margin: auto;
    }
    #banner .swiper{
        height: 510px;
    }
    #banner .slideContent .right h2{
        font-size: 33px;
    }
    #banner .slideContent .right p{
        font-size: 20px;
        margin: 20px 0;
    }
    #banner .loginComponent .loginItem > input{
        width: 250px;
    }
    #banner .loginComponent .loginItem .inputDiv{
        width: 250px;
    }
    #banner .loginComponent .loginItem .inputDiv button{
        width: 105px;
    }
    .our-platform-icons{
        flex-wrap: wrap;
    }
    #info-block .col-lg-6{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #client-comments .mianImageCol{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #client-comments .mianImageCol img{
        height: 400px;
        width: auto;
    }
    #loginRegisterSection .mainContent{
        flex-direction: column;
    }
    #loginRegisterSection .mainContent > div{
        width: 100%;
    }
    footer .footer-main-container .footerWaysContent ul{
        flex-wrap: wrap;
    }
    footer .footer-main-container .footerWaysContent ul li{
        margin: 5px 0;
    }
    footer .footer-top{
        width: 90%;
    }
    footer .footer-top .left img{
        width: 100px;
        margin-right: 10px;
    }
}

@media (max-width:425px){
    #header .container .header-col-left img{
        width: 100%;
        height: auto;
    }
    #banner .slideContent .right h2{
        padding-right: 25px;
    }
    .blogDetail .content{
        width: 100%;
        padding: 10px 22px;
    }
    .blogList .slideContent .blogItem{
        width: 100%;
        margin: 15px 0;
    }
    .blogList .slideContent{
        width: 100%;
    }
    .blogList .swiper-pagination-bullet{
        width: 35px;
        height: 35px;
    }
    .blogList .swiper-button-next, .blogList .swiper-button-prev{
        width: 52px;
        height: 35px;
    }
    .blogList .swiper-button-next {
        transform: translateX(111px);
    }
    .blogList .swiper-button-prev {
        transform: translateX(-163px);
    }
    .blogList .blogWays .prev,
.blogList .blogWays .next{
    width: 52px;
    height: 40px;   
}
.blogList .blogWays a{
    height: 40px;
    width: 35px;
}
    .businessInfoCardsContent .infoCards .infoCard{
        width: 100%;
    }
    .businessInfoCardsContent .infoCards .infoCard .cardTexts ul li p{
        margin-left: 2px;
    }
    .MapSection .mapText{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 95%;
        height: auto;
    }
    .comunication{
        padding: 0px 10px;
    }
    .comunication .comunicationContent{
        width: 100%;
    }
    .comunication .headerTextNoOutPadding{
        padding: 15px;
    }
    .comunication .comunicationContent .content{
        padding: 40px 15px;
    }

    #banner{
        padding: 10px 0 360px 0;
    }
    #banner .loginComponent{
        flex-direction: column;
        width: 95%;
    }
    #banner .loginComponent .loginItem:first-child{
        margin: 0;
        margin-bottom: 20px;
    }
    
    #banner .loginComponent .loginItem > input{
        width: 300px;
    }
    #banner .loginComponent .loginItem .inputDiv{
        width: 300px;
    }
    .info-elements-1 img{
        width: 300px;
        height: auto;
    }
    #info-block img{
        width: 300px;
        height: auto;
    }
    .info-block-right h2{
        font-size: 32px;
    }
    .step-icons::before{
        display: none;
    }
    .step-icons{
        margin: 20px 0  ;
    }
    #faq-home .row:nth-child(2) .col-md-6:nth-child(2){
        margin-top: 30px;
    }
    #client-comments .mianImageCol img{
        width: 300px;
        height: auto;
        margin: 30px 0;
    }
    .comment-single-home{
        padding-left: 20px;
    }


    #header .header-col-right ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    #header .header-col-right ul li{
        margin: 0;
        margin-left: 0;
        margin: 5px;
        width: 24%;
    }
    #header .container .header-col-right nav ul li{
        margin: 0;
    }
    #header .header-col-right ul li.country{
        width: 175px;
        margin-top: 20px !important;
    }
    #header .container .header-col-right nav ul li a{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 14px;
    }
    #header .container .header-col-right nav ul li .country-list li{
        width: 100%;
    }
    #loginRegisterSection .mainContent .left .logo{
        margin-bottom: 50px;
    }
    #loginRegisterSection .mainContent .left{
        padding: 50px 20px;
    }
    #loginRegisterSection .mainContent .left .content{
        width: 100%;
    }
    #loginRegisterSection .mainContent .left .inputs .inputItem input{
        width: 100%;
    }
    #loginRegisterSection .mainContent .left .content > button{
        width: 100%;
    }
    footer{
        padding-top: 275px;
    }
    footer .footer-main-container .copyrightContent p{
        font-size: 13px;
    }
    footer .footer-main-container .logoCol img{
        width: 100%;
    }
    footer .footer-main-container .footerWaysContent ul {
        flex-direction: column;
    }
    footer .footer-main-container .footerWaysContent ul li{
        border: none;
    }
    footer .footer-top{
        height: auto;
        flex-direction: column;
    }
    footer .footer-top .right .inputArea{
        flex-direction: column;
        align-items: flex-start;
    }
    footer .footer-top .right .inputArea button{
        margin: 0;
        margin-top: 15px;
    }
}